@content0: content0;

.@{content0}-wrapper {
  min-height: 650px;
  overflow: hidden;

  .@{content0} {
    height: 100%;
    padding: 64px 24px;

    >.title-wrapper {
      margin: 0 auto 48px;
    }

    &-block {
      padding: 0 4%;
      display: inline-block;
      text-align: center;
      min-height: 200px;
      margin-bottom: 24px;
      img {
        width: 100%;
      }

      &-wrapper {
        position: relative;
        height: 100%;
        top: 25%;
        padding: 20px 0;
        width: 800px;
        margin: auto;
        text-align: center;
        margin-top: 60px;
        .ant-card-cover img {
          width: 54px;
          margin: 40px 90px 0px;
        }
        .ant-card-bordered {
          border: 1px solid #004767;
          background-color: transparent;
      }
        .ant-card-body {
          padding-top: 10px;
          .ant-card-meta-title{
            color: #004767;
            font-size: 48px;
            font-weight: 600;
          }
          
      }
      }

      &.queue-anim-leaving {
        position: relative !important;
      }

      &-icon {
        width: 100px;
        height: 100px;
        margin: auto;
      }

      &-title {
        line-height: 32px;
        margin: 10px auto;
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .@{content0}-wrapper {
    min-height: 880px;
  }
}
